@use '../common/variables' as *;
@use '../common/mixins';
.slider {
  .inner {
    padding-top: 0;
    padding-bottom: 40px;
  }

  &_item {
    display: block;
    position: relative;
    padding-top: 47.858%;
  }

  .btn_slide {
    @include mixins.flex-center(52px, circle);
    position: absolute;
    z-index: 1;
    top: 50%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.0364);
    transform: translateY(-50%);

    .icon {
      width: 48px;
      height: 48px;
      background-image: url(../../images/sp_icons_medium.png);
      background-size: 246px 50px;
      background-position: -197px -1px;
    }
  }

  .btn_prev {
    left: 32px;

    .icon {
      rotate: 180deg;
    }
  }

  .btn_next {
    right: 32px;
  }

  .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    bottom: 32px;

    &-bullet {
      --swiper-pagination-bullet-horizontal-gap: 0;
      background-color: #fefefe;
      opacity: 1;
      transition: all 0.3s ease;

      &-active {
        --swiper-pagination-bullet-width: 30px;
        border-radius: 50px;
        background-color: #fefefe;
      }
    }

    .swiper-pagination-bullet + .swiper-pagination-bullet {
        margin-left: 16px;
      }
  }

  &_box {
    display: flex;
    align-items: center;
    margin-top: 32px;
  }

  .heading {
    max-width: 643px;
    font-family: $poppins;
    font-size: 72px;
    font-weight: 500;
    color: #121212;
    letter-spacing: -2px;
    line-height: 76px;

    &_accent {
      color: $text-secondary-color;
    }
  }

  .desc {
    margin-top: 2px;
    padding: 0 29px 0 24px;
    color: $text-secondary-color;
    line-height: 26px;

    &_accent {
      font-weight: 600;
      color: #121212;
    }
  }
}

.banner {
  .inner {
    padding: 0;
  }

  &_wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  &_item {
    position: relative;

    &:first-child {
      grid-row: span 2;

      .banner_link {
        padding-top: calc(2 * 58.395% + 24px);
      }

      .banner_content {
        top: 7.23%;
        bottom: auto;
        left: 8.76%;
      }
    }
  }

  &_link {
    overflow: hidden;
    display: block;
    position: relative;
    padding-top: 58.395%;

    .img {
      transition: scale 0.2s ease;
    }

    &:hover .img {
      scale: 1.1;
    }
  }

  &_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: auto;
    bottom: 12.5%;
    left: 5.84%;
  }

  &_title {
    display: inline-block;
    margin-bottom: 12px;
    font-family: $poppins;
    font-size: 34px;
    font-weight: 500;
    color: $text-primary-color;
    letter-spacing: -0.6px;
    line-height: 38px;
  }
}

.product {
  overflow: hidden;
  position: relative;

  .inner {
    padding: 48px 0 0;
  }

  .section_heading {
    max-width: 149px;
  }

  .more_link {
    margin-top: auto;
  }
}

.benefit {
  .inner {
    padding: 48px 0;
  }

  &_wrap {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  &_card {
    width: calc((100% - 72px) / 4);
    padding: 48px 32px;
    background-color: #f3f5f7;
    box-sizing: border-box;

    .icon {
      width: 48px;
      height: 48px;
      background-image: url(../../images/sp_icons_medium.png);
      background-size: 246px 50px;
      background-position: -1px -1px;

      &_refund {
        background-position: -50px -1px;
      }

      &_lock {
        background-position: -99px -1px;
      }

      &_telephone {
        background-position: -148px -1px;
      }
    }
  }

  &_box {
    margin-top: 16px;
  }

  &_title {
    font-family: $poppins;
    font-size: 20px;
    font-weight: 500;
    color: $text-primary-color;
    line-height: 28px;
  }

  &_desc {
    margin-top: 8px;
    font-family: $poppins;
    font-size: 14px;
    color: $text-secondary-color;
    line-height: 24px;
  }
}

@media (max-width: 992px) {
  .slider {
    &_box {
      flex-direction: column;
      align-items: flex-start;
    }

    .heading {
      max-width: 100%;
      font-size: 40px;
      line-height: 44px;
      letter-spacing: -0.4px;
    }

    .desc {
      margin-top: 19px;
      padding: 0;
    }
  }

  .benefit {
    &_wrap {
      gap: 24px;
    }

    &_card {
      width: calc((100% - 24px) / 2);
    }
  }
}

@media (max-width: 768px) {
  .slider {
    &_item {
      padding-top: 97.75%;
    }

    .btn_slide {
      display: none;
    }

    .desc {
      font-size: 14px;
      line-height: 22px;
    }

    .swiper-pagination {
      bottom: 16px;
    }
  }

  .banner {
    &_wrap {
      grid-template-columns: 1fr;
      gap: 16px;
    }

    &_item {
      &:first-child {
        .banner_link {
          padding-top: 121.222%;
        }

        .banner_content {
          top: 8.49%;
          left: 10.29%;
        }
      }
    }
    &_link {
      padding-top: 57.88%;
    }

    &_title {
      margin-bottom: 8px;
      font-size: 28px;
      line-height: 34px;
    }

    &_content {
      bottom: 17.78%;
      left: 10.29%;
    }
  }

  .product {
    .inner {
      padding: 32px 0 96px;
    }

    .more_link {
      position: absolute;
      bottom: 32px;
      left: 32px;
    }
  }

  .benefit {
    .inner {
      padding: 32px 0;
    }

    &_wrap {
      gap: 24px 9px;
    }

    &_card {
      width: calc((100% - 9px) / 2);
      padding: 32px 16px;
    }

    &_title {
      font-family: $inter;
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
    }

    &_desc {
      margin-top: 4px;
      font-family: $inter;
      line-height: 22px;
    }
  }

  .blog {
    .more_link {
      margin-top: auto;
    }
  }
}
