@use '../common/mixins';
@use '../common/common';
@use '../common/variables' as *;
.product_area {
  .inner {
    padding: 0;
  }

  .product_box {
    display: flex;
  }

  .product_media {
    width: 48.93%;
  }

  .swiper-slide {
    position: relative;
    padding-top: 133.028%;
  }

  .badge_wrap {
    z-index: 1;
    top: 32px;
    left: 32px;
  }

  .badge {
    min-width: 79px;
    min-height: 34px;
    font-size: 18px;

    &_sale {
      min-width: 84px;
    }
  }

  .product_box {
    flex: 1;
  }

  .product_thumb_list {
    display: flex;
    gap: 24px;
    margin-top: 24px;
  }

  .product_thumb_item {
    flex-shrink: 0;
    position: relative;
    width: calc((100% - 48px) / 3);
    padding-top: 30.413%;
    cursor: pointer;
  }

  .btn_slide {
    @include mixins.flex-center(40px, circle);
  }

  .product_content {
    flex-grow: 1;
    padding-left: 63px;
  }

  .product_info {
    padding-bottom: 23px;
    border-bottom: 1px solid #e8ecef;
    box-sizing: border-box;
  }

  .product_rating {
    display: flex;
    align-items: center;

    .rating {
      margin-top: 0;
    }

    .review_count {
      margin-left: 10px;
      font-size: 12px;
      color: $text-primary-color;
      line-height: 20px;
    }
  }

  .section_heading {
    margin-top: 16px;
  }

  .desc {
    margin-top: 16px;
    font-size: 16px;
    color: $text-secondary-color;
    line-height: 26px;
  }

  .price {
    font-family: $poppins;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.6px;

    &_box {
      display: flex;
      align-items: center;
      margin-top: 16px;
    }

    &_origin {
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 0px;
    }
  }

  .product_countdown {
    @extend .product_info;
    padding-top: 24px;

    .title {
      font-size: 16px;
      font-weight: 400;
      color: #343839;
      line-height: 26px;
    }

    .countdown {
      margin-top: 12px;
    }
  }

  .product_swatches {
    @extend .product_countdown;

    .title {
      font-size: 16px;
      font-weight: 600;
      color: $text-secondary-color;
      line-height: 26px;
    }

    .size {
      margin-top: 8px;
      font-size: 20px;
      color: #000;
      line-height: 32px;

      & + .title {
        display: flex;
        align-items: center;
        margin-top: 24px;
      }
    }

    .color {
      @extend .size;
    }
  }

  .size + .title::after {
    @extend .icon;
    margin: 1px 0 0 4px;
    background-position: -226px -1px;
    rotate: -90deg;
    content: '';
  }

  .color_list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 16px;
    padding-bottom: 24px;
  }

  .color_item {
    position: relative;
    width: 71px;
    height: 71px;
    border: 1px solid transparent;
    box-sizing: border-box;

    &.is_active {
      border-color: $text-primary-color;
    }
  }

  .action {
    margin-top: 32px;

    .row {
      flex-wrap: wrap;
      gap: 24px;
    }

    .btn_favorite {
      --height: 52px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      flex-grow: 1;
      overflow: hidden;
      position: relative;
      border: 1px solid $text-primary-color;
      background-color: transparent;
      font-size: 18px;
      color: $text-primary-color;
      line-height: 32px;

      &::before {
        position: absolute;
        z-index: -1;
        width: 0;
        right: 0;
        left: initial;
        height: 100%;
        background-color: $green-color;
        transition: width 0.2s ease;
        content: '';
      }

      &:hover {
        border-color: transparent;
        color: #fff;
        opacity: 1;
      }

      &:hover::before {
        left: 0;
        right: initial;
        width: 100%;
      }
    }
  }

  .btn_quantity {
    min-width: 127px;
    height: 52px;
    margin-top: 0;
    padding: 8px 9px;
    border: none;
    background-color: #f5f5f5;
    border-radius: 8px;

    .quantity {
      font-size: 16px;
    }
    .btn_minus,
    .btn_plus {
      padding: 4px;
    }
  }

  .btn_add {
    --height: 52px;
    width: 100%;
    margin-top: 16px;
    font-size: 18px;
  }

  .product_meta {
    padding: 24px 0;

    .row {
      max-width: 147px;
      margin-top: 8px;
    }

    .row:last-child {
      max-width: 251px;
    }

    .meta_label {
      font-size: 12px;
      color: $text-secondary-color;
      line-height: 20px;
    }

    .meta_value {
      @extend .meta_label;
      color: $text-primary-color;
    }
  }

  .tabs {
    padding: 40px 0;

    .menu {
      display: flex;
      position: relative;

      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #e8ecef;
        content: '';
      }

      &_item {
        font-size: 18px;
        font-weight: 500;
        color: #807e7e;
        letter-spacing: -0.4px;
        line-height: 32px;
        cursor: pointer;

        &.is_active {
          position: relative;
          z-index: 1;
          color: #121212;
          cursor: default;

          &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #121212;
            content: '';
          }
        }
      }

      &_item + .menu_item {
        margin-left: 80px;
      }
    }
  }

  .tab_content {
    padding-top: 48px;

    .heading {
      font-family: $poppins;
      font-weight: 500;
      font-size: 28px;
      line-height: 34px;
      letter-spacing: -0.6px;
    }

    .product_rating {
      margin-top: 24px;
    }

    .row {
      margin-top: 40px;
      .title {
        font-family: $poppins;
        font-weight: 500;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: -0.6px;
      }
    }
  }

  .comments {
    overflow: hidden;
    max-height: 1120px;
    margin-top: 16px;

    &.is_show {
      max-height: initial;
    }
  }

  .comment_box {
    padding: 24px 0 19px;
    border-bottom: 1px solid #e8ecef;

    .user_name {
      display: inline-block;
      font-weight: 600;
      font-size: 20px;
      color: $text-primary-color;
      line-height: 32px;
    }
  }

  .comment_top {
    display: flex;
    gap: 40px;
  }

  .comment_body {
    margin-top: 8px;
    padding-left: 112px;
  }

  .rating {
    margin-top: 16px;
  }

  .comment_content {
    font-size: 16px;
    color: #353945;
    line-height: 26px;
  }

  .avatar_link {
    flex-shrink: 0;
    align-self: flex-start;

    .avatar {
      width: 72px;
      height: 72px;
      border-radius: 50%;
      vertical-align: bottom;
    }
  }

  .comment_action {
    display: flex;
    align-items: flex-end;
    gap: 8px;

    .time_ago {
      min-width: 110px;
      padding-bottom: 4px;
      font-weight: 400;
      font-size: 12px;
      color: #777e90;
      line-height: 20px;
    }
  }

  .review_title {
    margin-top: 8px;
    font-size: 0;

    .review_text {
      font-weight: 400;
      font-size: 16px;
      color: #777e90;
      line-height: 26px;

      &:nth-child(2) {
        margin-left: 8px;
        color: #23262f;
        font-weight: 600;
      }
    }
  }

  .form_feedback {
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding: 15px;
    border: 1px solid #e8ecef;
    border-radius: 16px;
    box-sizing: border-box;

    .input_feedback {
      flex-grow: 1;
      min-height: 40px;
      padding: 0;
      border: none;
      outline: none;
      font-family: inherit;
      font-size: 16px;
      color: $text-primary-color;
      line-height: 26px;

      &::placeholder {
        font-family: Inter;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
      }
    }

    .btn_feedback {
      --height: 40px;
      min-width: 176px;
      border-radius: 80px;
    }
  }

  .btn_reply {
    padding: 4px;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
  }

  .btn_more {
    --height: 40px;
    display: flex;
    justify-content: center;
    min-width: 158px;
    margin: 24px auto 0;
    border: 1px solid $text-primary-color;
    border-radius: 80px;
    background-color: #fff;
    font-size: 16px;
    color: $text-primary-color;
  }
}

@media (max-width: 992px) {
  .product_area {
    .color_list {
      gap: 12px;
    }
  }
}

@media (max-width: 768px) {
  .product_area {
    .product_box {
      flex-direction: column;
    }
    .product_media {
      width: 100%;
    }

    .swiper-slide {
      padding-top: 133.12%;
    }

    .product_thumb_list {
      display: none;
    }

    .btn_prev {
      left: 24px;
    }

    .btn_next {
      right: 24px;
    }

    .badge_wrap {
      top: 24px;
      left: 24px;
    }

    .badge {
      min-width: 74px;
      min-height: 32px;
      font-size: 16px;

      &_sale {
        min-width: 78px;
        font-size: 18px;
      }
    }

    .product_content {
      padding: 32px 0 0;
    }

    .section_heading {
      font-size: 40px;
      line-height: 44px;
      letter-spacing: -0.4px;
    }

    .color_list {
      gap: 9px;
    }

    .btn_quantity {
      min-width: 80px;
      height: 32px;
      padding: 0;

      .quantity {
        font-size: 12px;
      }

      .btn_minus,
      .btn_plus {
        padding: 3px 0 3px 3px;
      }
    }
    .action {
      margin-top: 24px;
      .row {
        gap: 8px;
      }
      .btn_favorite {
        --height: 32px;
        border-radius: 4px;
        font-size: 14px;

        .icon_like {
          width: 16px;
          height: 16px;
          background-size: 184px 51px;
          background-position: -84px -1px;
        }
      }
    }
    .btn_add {
      --height: 32px;
      border-radius: 4px;
      font-size: 14px;
    }

    .product_meta {
      padding-top: 18px;
    }
  }
}
