@use '../common/variables' as *;
@use '../common/mixins';
.shopping {
  &_top {
    max-width: 832px;
    margin: 0 auto;

    .title {
      font-family: $poppins;
      font-size: 54px;
      font-weight: 500;
      letter-spacing: -1px;
      line-height: 58px;
      text-align: center;
    }
  }

  &_wrap {
    .main {
      overflow-x: hidden;
    }
    .btn_back {
      display: none;
    }
    .process {
      &_list {
        display: flex;
        gap: 32px;
        margin-top: 40px;
        overflow-x: auto;
        scrollbar-width: none;
      }

      &_item {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        gap: 17px;
        width: 256px;
        padding-bottom: 24px;
        font-weight: 600;
        font-size: 16px;
        color: #b1b5c3;
        line-height: 26px;
        white-space: nowrap;

        &::before {
          @include mixins.flex-center(42px, circle);
          flex-shrink: 0;
          font-weight: 600;
          font-size: 16px;
          color: #fcfcfd;
          line-height: 24px;
          background-color: #b1b5c3;
        }

        &:first-child::before {
          content: '1';
        }

        &:nth-child(2)::before {
          content: '2';
        }

        &:nth-child(3)::before {
          content: '3';
        }

        &.is_active {
          color: #23262f;
          border-bottom: 2px solid $text-primary-color;
          &::before {
            background-color: #23262f;
          }
        }
      }
    }
  }
  &_area {
    display: flex;
    gap: 64px;
    padding-top: 80px;

    .table_cart {
      width: 100%;
      border-collapse: collapse;

      col {
        &:first-child {
          width: 49.147%;
        }

        &:nth-child(2) {
          width: 12.44%;
        }
        &:nth-child(3) {
          width: 18.82%;
        }
      }

      th {
        padding: 0 0 23px 0;
        border-bottom: 1px solid $text-secondary-color;
        font-weight: 600;
        font-size: 16px;
        color: #121212;
        line-height: 26px;

        &:first-child {
          text-align: left;
        }

        &:nth-child(3) {
          padding-left: 51px;
        }

        &:last-child {
          text-align: right;
        }
      }

      td {
        padding: 0;
        border-bottom: 1px solid #e8ecef;

        &:nth-child(3) {
          font-weight: 400;
          font-size: 18px;
          line-height: 30px;
          text-align: right;
        }

        &:last-child {
          font-size: 18px;
          font-weight: 600;
          line-height: 30px;
          color: #121212;
          text-align: right;
        }

        .btn_quantity {
          margin-top: 0;
        }
      }

      .cart_item {
        position: relative;
        margin-top: 0;
        border-bottom: none;

        .btn_quantity {
          display: none;
        }

        .row {
          margin-top: 7px;

          .cart_text:nth-child(2) {
            display: none;
          }
        }

        .btn_remove {
          display: inline-flex;
          gap: 4px;
          top: 81px;
          right: auto;
          left: 88px;
          font-weight: 600;
          font-size: 14px;
          color: $text-secondary-color;
          line-height: 22px;

          align-items: center;
          &::after {
            content: 'Remove';
          }
        }
      }
    }

    .title {
      font-family: $poppins;
      font-weight: 500;
      font-size: 20px;
      color: $text-primary-color;
      line-height: 28px;
    }

    .coupon {
      max-width: 424px;
      margin-top: 80px;

      .desc {
        margin-top: 7px;
        font-size: 16px;
        font-weight: 400;
        color: $text-secondary-color;
        line-height: 26px;
      }

      .form {
        display: flex;
        align-items: center;
        margin-top: 16px;
        padding: 7px 0 7px 16px;
        border: 1px solid $text-secondary-color;

        .input {
          flex-grow: 1;
          height: 28px;
          margin: 0 4px 0 8px;
          padding: 0;
          font-weight: 500;
          font-size: 16px;
          line-height: 28px;
          color: $text-primary-color;
          letter-spacing: -0.4px;
          outline: none;

          &::placeholder {
            font-weight: 500;
            font-size: 16px;
            line-height: 28px;
            color: $text-secondary-color;
            letter-spacing: -0.4px;
          }
        }

        .btn_apply {
          padding: 4px 16px 4px 4px;
          font-size: 16px;
          font-weight: 500;
          color: $text-primary-color;
          letter-spacing: -0.4px;
          line-height: 28px;
        }
      }
    }

    .cart_summary {
      flex-grow: 1;
      align-self: flex-start;
      padding: 23px;
      border: 1px solid $text-secondary-color;
      border-radius: 6px;
      box-sizing: border-box;

      &_list {
        margin: 16px 0;
      }

      &_item {
        display: flex;
        align-items: center;
        height: 52px;
        margin-top: 12px;
        padding: 0 16px;
        border: 1px solid $text-secondary-color;
        border-radius: 4px;
        font-size: 16px;
        color: $text-primary-color;
        line-height: 26px;
        box-sizing: border-box;

        &::before {
          display: block;
          flex-shrink: 0;
          width: 18px;
          height: 18px;
          margin-right: 12px;
          border: 1px solid #121212;
          border-radius: 50%;
          box-sizing: border-box;
          content: '';
        }

        .price {
          margin-left: auto;
          font-size: 16px;
          font-weight: 400;
          color: $text-primary-color;
          line-height: 26px;
        }

        &.is_active {
          position: relative;
          border-color: $text-primary-color;
          background-color: #f3f5f7;

          &::after {
            position: absolute;
            top: 50%;
            left: 20px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #121212;
            transform: translateY(-50%);
            content: '';
          }
        }
      }

      .row {
        position: relative;
        padding: 13px 0;
        font-size: 16px;
        color: $text-primary-color;
        line-height: 26px;

        .price {
          font-size: 16px;
          color: $text-primary-color;
          line-height: 26px;
        }

        &:not(:last-of-type)::after {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: #eaeaea;
          content: '';
        }

        &:last-of-type {
          padding-bottom: 7px;
          font-weight: 600;
          font-size: 20px;
          line-height: 32px;

          .price {
            font-size: 20px;
            line-height: 32px;
          }
        }
      }

      .btn_checkout {
        --height: 52px;
        width: 100%;
        margin-top: 32px;
        font-size: 18px;
      }
    }
  }

  &_box {
    width: 57.412%;
  }
}

@media (max-width: 768px) {
  .shopping {
    &_wrap {
      .main .inner {
        padding: 16px 0 80px;
      }
      .btn_back {
        display: inline-flex;
      }

      .process_list {
        margin-top: 24px;
      }
    }

    &_top {
      .title {
        margin-top: 36px;
        font-size: 40px;
        letter-spacing: -0.4px;
        line-height: 44px;
      }
    }

    &_area {
      flex-direction: column;
      gap: 24px;
      padding-top: 40px;

      .title {
        font-family: $inter;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
      }

      .table_cart {
        col:first-child {
          width: 100%;
        }

        th:not(:first-child),
        td:not(:first-child) {
          display: none;
        }

        tr:not(:first-child) {
          .cart_item {
            margin-top: 24px;
          }
        }

        .cart_item {
          padding-right: 16px;
          .btn_quantity {
            display: flex;
            margin-top: 8px;
          }

          .btn_remove {
            gap: 0;
            top: 46px;
            right: 9px;
            left: auto;

            &::after {
              content: '';
            }
          }

          .row {
            margin-top: 0;
            .cart_text:nth-child(2) {
              display: block;
            }
          }
        }
      }

      .cart_summary {
        width: 100%;
        padding: 15px;

        &_item {
          font-weight: 600;
          font-size: 14px;
          line-height: 22px;

          .price {
            font-weight: 600;
            font-size: 14px;
            line-height: 22px;
          }
        }

        .row {
          font-weight: 700;
          font-size: 14px;
          line-height: 22px;

          &:first-of-type{
            .price{
              padding-bottom: 4px;
            }
          }

          &:last-of-type {
            padding-bottom: 13px;
            font-size: 16px;
            line-height: 26px;

            .price {
              font-size: 16px;
              line-height: 26px;
            }
          }

          .price {
            font-size: 14px;
            font-weight: 700;
            line-height: 22px;
          }
        }

        .btn_checkout{
          margin-top: 24px;
        }
      }

      .coupon {
        max-width: 100%;
        margin-top: 24px;

        .desc {
          font-size: 14px;
          line-height: 22px;
        }

        .icon {
          flex-shrink: 0;
        }

        .input {
          min-width: 0;
        }
      }
    }

    &_box,
    .cart_summary {
      width: 100%;
    }
  }
}
