@use '../common/variables' as *;
.auth_wrap {
  display: flex;
  min-height: 100vh;

  .auth_banner {
    flex: 0 0 51.1111%;
    background-image: url(../images/img_auth_banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;

    .logo {
      margin-top: 32px;
    }
  }

  .auth_content {
    flex-grow: 1;
    box-sizing: border-box;
  }
}

.auth_content {
  &_box {
    max-width: 456px;
    margin-top: 180px;
    padding: 40px 88px;
  }

  .heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: $text-primary-color;
    letter-spacing: -0.4px;
    line-height: 44px;
  }

  .auth_inline {
    margin-top: 24px;
    font-size: 16px;
    color: $text-secondary-color;
    line-height: 26px;
    user-select: none;

    &_link {
      font-size: 16px;
      line-height: 26px;
      font-weight: 600;
      color: #38cb89;
    }
  }
}

.auth_form {
  margin-top: 18px;
  .auth_input {
    display: flex;
    align-items: center;
    position: relative;
    & + .auth_input {
      margin-top: 18px;
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #e8ecef;
      user-select: none;
      content: '';
    }

    .input {
      flex-grow: 1;
      margin: 8px 0 8px -6px;
      padding: 6px;
      font-size: 16px;
      font-weight: 400;
      color: $text-primary-color;
      line-height: 26px;
      outline: none;

      &::placeholder {
        color: $text-secondary-color;
      }
    }

    & .btn_show_password {
      margin-right: -8px;
      padding: 8px;
      outline: none;
      cursor: pointer;
    }
  }

  & .btn_submit {
    --height: 48px;
    width: 100%;
    margin-top: 31px;
  }

  .auth_inline {
    display: inline-block;
    position: relative;
    margin-top: 33px;
    padding-left: 36px;
    color: #605f5f;

    &::before,
    &::after {
      position: absolute;
      left: 0;
      box-sizing: border-box;
      content: '';
    }

    &::before {
      top: 1px;
      width: 24px;
      height: 24px;
      border: 2px solid $text-secondary-color;
      border-radius: 4px;
    }

    &::after {
      top: 8px;
      left: 5px;
      width: 14px;
      height: 8px;
      border-width: 0 0 3px 3px;
      border-style: solid;
      border-color: #fff;
      rotate: -45deg;
    }

    &_link {
      font-weight: 600;
      color: $text-primary-color;
      white-space: nowrap;
    }
  }

  .auth_checkbox:checked {
    & + .auth_inline::before {
      background-color: #38cb89;
      border-color: #38cb89;
    }
  }
}

.auth_action {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-top: 33px;

  & .auth_inline {
    margin-top: 0;
  }
}

@media screen and (max-width: 992px) {
  .auth_wrap {
    .auth_content {
      display: flex;
      align-items: center;
      &_box {
        width: 100%;
        margin-top: 0;
        padding: 40px 32px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .auth_wrap {
    flex-direction: column;

    .auth_banner {
      width: 100%;
      min-height: 41.83vh;
    }

    .auth_content {
      align-items: flex-start;
      &_box {
        max-width: 100%;
      }
    }
  }

  .auth_form {
    .auth_inline {
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;

      &::before {
        top: -2px;
      }

      &::after {
        top: 5px;
      }

      &_signin {
        font-size: 16px;
        line-height: 26px;
      }

      &_link {
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
      }
    }

    .btn_submit {
      margin-top: 35px;
    }
  }

  .auth_action {
    align-items: flex-end;
    flex-wrap: wrap;
    & .auth_inline {
      margin-top: 0;
      font-size: 16px;
      white-space: nowrap;
      line-height: 26px;

      &::before {
        top: 1px;
      }
      &::after {
        top: 8px;
      }
    }

    & + .btn_submit {
      margin-top: 30px;
    }
  }
}
