@use '../common/variables' as *;
.order_summary {
  margin-top: auto;
  .row {
    position: relative;
    padding: 13px 0 13px;
    color: $text-primary-color;
    .title,
    .price {
      font-size: 16px;
      line-height: 26px;
    }

    .price {
      font-weight: 600;
    }

    &:not(:last-of-type)::after {
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #e8ecef;
      content: '';
    }

    &:last-of-type {
      .title,
      .price {
        font-family: $poppins;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
      }
    }
  }

  .btn_checkout {
    --height: 52px;
    width: 100%;
    margin-top: 16px;
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .order_summary {
    .row:last-of-type {
      padding: 12px 0;
    }
  }
}
