@use '../common/variables' as *;
.product_card_area {
  margin-top: 48px;
}

.product_card_item {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  position: relative;

  &:hover .btn_favorite {
    transform: translateX(0);
  }

  &:hover .btn_add {
    visibility: visible;
    opacity: 1;
  }

  .title {
    display: -webkit-box;
    overflow: hidden;
    margin: 5px 0 4px;
    font-size: 16px;
    font-weight: 600;
    color: #141718;
    line-height: 26px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .btn_add {
    visibility: hidden;
    position: absolute;
    left: 50%;
    bottom: 100px;
    width: calc(100% - 32px);
    opacity: 0;
    transform: translateX(-50%);
    transition: all 0.25s ease;
  }

  .btn_favorite {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $bg-primary-color;
    box-shadow: 0px 8px 16px -8px rgba(15, 15, 15, 0.12);
    transform: translateX(150%);
    transition: transform 0.25s ease;

    .icon_like {
      background-position: -151px -26px;
    }
  }
}

.product_card_box {
  position: relative;
}

.product_card_img {
  display: block;
  position: relative;
  padding-top: 133.21%;
}

.product_slides {
  overflow: visible;
  padding-bottom: 51px;
}

.product_slides .swiper-wrapper {
  display: flex;
  align-items: stretch;
}
.product_slides .swiper-slide {
  display: flex;
  width: 262px;
  height: auto;
}

.product_slides .swiper-scrollbar {
  --swiper-scrollbar-bottom: 0px;
  --swiper-scrollbar-sides-offset: 0px;
  --swiper-scrollbar-bg-color: #e8ecef;
  --swiper-scrollbar-drag-bg-color: #343839;
}

.product_slides .swiper-scrollbar-drag {
  cursor: grab;
}
.product_slides .swiper-scrollbar-drag:active {
  cursor: grabbing;
}

@media (max-width: 768px) {
  .product_card_area {
    margin-top: 40px;
  }

  .product_slides .swiper-slide {
    width: 231px;
  }

  .product_card_item {
    .btn_add {
      --height: 41px;
      bottom: 14px;
      width: calc(100% - 28px);
    }

    .btn_favorite {
      transform: translateX(0);
    }
    .btn_add {
      visibility: visible;
      bottom: 98px;
      opacity: 1;
    }
  }

  .product_card_img {
    padding-top: 133.34%;
  }

  .product_slides {
    padding-bottom: 43px;
  }
}
/* //Responsive */
