$text-primary-color: #141718;
$text-secondary-color: #6c7275;
$bg-primary-color: #fff;
$green-color: #38CB89;

// Fonts
$inter: 'Inter', sans-serif;
$grotesk: 'Space Grotesk', sans-serif;
$poppins: 'Poppins', sans-serif;